@font-face {
  font-family: 'Gelasio';
  src: url(assets/fonts/Gelasio-Regular.ttf) format('truetype');
  font-style: normal;
  font-weight: normal;
}

/*Normalize*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  min-height: 100vh;
  width: 100%;
  font-size: 100%;
  font-family: Gelasio;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
  position: relative;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/

.bigred {
  font-size: 20px;
  color: red;
}

/*Normalize*/

.main_container {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgba(230, 26, 26, 0.4);
  gap: 30px;
  height: 100%;
  position: relative;
  min-height: 100vh;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 10px;
  background-color: #e61a1a;
  color: white;
  font-size: 200%;
}

.main {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.search-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.search-input {
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 150%;
}
.search-button {
  padding: 5px 10px;
  border-radius: 10px;
  font-weight: bold;
  background-color: #ffd4f1;
  font-size: 150%;
}
.search-button:hover {
  transform: scale(1.2);
  transition: transform 0.2s ease-in-out;
}

.loader {
  font-weight: bold;
}

.pokemon-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}

.pokemon-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 15px;
  border: 2px solid white;
  border-radius: 10px;
}

.pokemon-description {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.pokemon-name {
  font-weight: bold;
  align-self: center;
}
.bold {
  font-weight: bold;
}
.footer {
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-color: #e61a1a;
  color: white;
  font-size: 150%;
}

.github {
  color: white;
}

.error-button {
  padding: 5px 10px;
  border-radius: 10px;
  font-weight: bold;
  background-color: #ffd4f1;
}

.error-button:hover {
  transform: scale(1.2);
  transition: transform 0.2s ease-in-out;
}

.error-title {
  font-weight: bold;
  font-size: 200%;
}
.return-button {
  padding: 5px 10px;
  border-radius: 10px;
  font-weight: bold;
  background-color: #ffd4f1;
}

.return-button:hover {
  transform: scale(1.2);
  transition: transform 0.2s ease-in-out;
}

.error-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 40px;
  background-color: rgba(230, 26, 26, 0.4);
  height: 100vh;
}

.pagination-container {
  display: flex;
  gap: 15px;
}
.pagination-button {
  padding: 5px 10px;
  border-radius: 10px;
  font-weight: bold;
  background-color: #ffd4f1;
}

.pagination-button:hover {
  transform: scale(1.2);
  transition: transform 0.2s ease-in-out;
}
